{% extends 'website/navbar.html' %}

{% block content %}

<div class="myForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="alert alert-info">
                    Your password has been set
                </div>
                <a href="{% url 'login' %}">Click here to sign in</a>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
</div>

{% endblock %}