{% extends 'website/navbar.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="myForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <form method="post" action="">
                    {% csrf_token %}
                    <p>
                    <h2 class="text-center alert alert-info">Reset Password</h2>
                    </p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{form | crispy}}
                                <!-- <input type="text" class="form-control" name="username" placeholder="Username" /> -->
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <input class="btn btn-primary" type="submit" value="Request Password Reset" />
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</div>
{% endblock %}